.app {
  grid-column: var(--centered);
  background: var(--white);
  margin-top: 40px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0,0,0,.3);
  min-height: 500px;
}

.title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--black);
}